.disk {
    border-radius: 1rem;
    border: .5rem solid;
    cursor: grab;

    z-index: 1;

    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;

    position: relative;
}

.disk-1 {
    background-color: #FF4500;
    border-color: #dd3b00;
}

.disk-2 {
    background-color: #FF8C00;
    border-color: #db7900;
}

.disk-3 {
    background-color: #FFD700;
    border-color: #dab900;
}

.disk-4 {
    background-color: #32CD32;
    border-color: #2db62d;
}

.disk-5 {
    background-color: #1E90FF;
    border-color: #1977d4;
}

.disk-6 {
    background-color: #9400D3;
    border-color: #7800ac;
}

.disk-7 {
    background-color: #8B008B;
    border-color: #750075;
}

.disk-8 {
    background-color: #FF1493;
    border-color: #cb257f;
}

.disk.invalid:hover {
    background-color: #888 !important;
    border-color: #555 !important;
    cursor: not-allowed !important;
}

.disk.phantom {
    opacity: .5;
    background-color: #1E90FF;
    border-color: #1977d4;
}