@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

@import "tower.css";
@import "disk.css";
@import "animation.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

    list-style: none;
    vertical-align: baseline;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #6d4422;
    font-optical-sizing: auto;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body.game-page-container {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100dvh !important;

    background-color: #ffefad;

    display: flex;
    flex-direction: column;

    position: relative;

    font-size: 3rem;
    overflow: hidden;
    text-align: center;
}

.top-moves {
    display: none !important;
}

.bottom-moves {
    display: initial;
}

.header {
    position: relative;

    width: 100%;
    height: 15dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header .title {
    font-family: "Akaya Kanadaka", system-ui;
    font-size: 10rem;
    font-weight: bold;
}

.main {
    position: relative;
    width: 100%;
    height: 70dvh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hanoi-game {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    padding: 10rem 2rem;
}

.footer {
    position: relative;

    width: 100%;
    height: 15dvh;

    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;

    padding: 0 2rem 10rem 2rem;
}

.config-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

select,
button {
    min-width: 30rem;
    width: 100%;
    max-width: 32rem;

    height: 5rem;
    background-color: #da8743;
    border-radius: 1rem;
    font-size: 2rem;
    padding: .5rem;
    outline: none;
    border: .5rem solid #a36532;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

select:hover,
button:hover {
    background-color: #c97939;
}

.red {
    color: tomato;
}

.hide {
    display: none;
}

@media (max-width: 991px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 18dvh;
    }

    .top-moves {
        display: initial !important;
    }

    .bottom-moves {
        display: none;
    }
}


@media (max-width: 767px) and (orientation: portrait)  {
    .header {
        height: 10dvh;
    }

    .header .title {
        font-size: 4rem;
    }

    body.game-page-container {
        font-size: 2rem;
    }

    .main {
        height: 80dvh;
    }

    .hanoi-game {
        /*flex: 1 1 200px;*/
        padding: 0;
        flex-wrap: wrap;
        align-content: center;

        /*overflow-y: auto;*/
    }

    .tower {
        height: 35%;
        width: 40%;
    }

    .tower .disk:first-child {
        margin-bottom: 1.35rem;
    }

    .disk {
        font-size: 1.2rem;
        border-radius: .7rem;
        border-width: .4rem;
    }

    .footer {
        flex-direction: column;
        height: 10dvh;
        gap: 1rem;
        padding: 1rem;
        justify-content: flex-end;
    }

    .config-container {
        gap: 1rem;
    }

    .top-moves {
        display: initial !important;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    .bottom-moves {
        display: none;
    }

    .tower::before {
        clip-path: polygon(0% 100%,
        100% 100%,
        100% 92%,
        54% 92%,
        54% 0%,
        46% 0%,
        46% 92%,
        0% 92%);
    }

    select,
    button {
        border-width: .4rem;
        font-size: 1.5rem;
        width: 100%;
        height: 3.5rem;

        max-width: none;
        min-width: auto;
    }

    .config-container.buttons {
        flex-direction: row;
    }

}