@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

@import "tower.css";
@import "disk.css";
@import "animation.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

    list-style: none;
    vertical-align: baseline;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #6d4422;
    font-optical-sizing: auto;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html {
    font-size: 62.5%;
}

body.game-page-container {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100dvh !important;

    background-color: #ffefad;

    display: flex;
    flex-direction: column;

    position: relative;

    font-size: 3rem;
    overflow: hidden;
}

.header {
    position: relative;

    width: 100%;
    max-height: 15rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header .title {
    font-family: "Akaya Kanadaka", system-ui;
    font-size: 10rem;
    font-weight: bold;
}

.main {
    position: relative;
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hanoi-game {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 40rem;
}

.footer {
    position: relative;

    width: 100%;
    max-height: 15rem;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 10rem;
}

.config-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

select,
button {
    min-width: 30rem;
    width: 100%;
    height: 5rem;
    background-color: #da8743;
    border-radius: 1rem;
    font-size: 2rem;
    padding: .5rem;
    outline: none;
    border: .5rem solid #a36532;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

select:hover,
button:hover {
    background-color: #c97939;
}

.red {
    color: tomato;
}