@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

    list-style: none;
    vertical-align: baseline;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #6d4422;
    font-optical-sizing: auto;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    color-scheme: only light;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light;
    }
}

/* Chrome */
@media (forced-colors: active) {
    :root {
        color-scheme: light;
    }
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100vh !important;

    background-color: #ffefad;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    font-size: 3rem;
    overflow: hidden;
    text-align: center;
}
