.tower {
    position: relative;
    width: 100%;
    max-width: 32rem;
    min-width: 10rem;
    height: 100%;
    max-height: 40rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.tower::before {
    position: absolute;

    content: " ";

    width: 2.5rem;
    height: 100%;

    border-radius: 1rem;

    background-color: #da8743;
    background-image: url('../../assets/img/wood.png');
    background-blend-mode: hard-light;
}

.tower-base {
    width: 100%;
    border-radius: 0 0 1rem 1rem;

    background-color: #da8743;
    background-image: url('../../assets/img/wood.png');
    background-blend-mode: hard-light;

    height: 2.5rem;
}