@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

    list-style: none;
    vertical-align: baseline;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #6d4422;
    font-optical-sizing: auto;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    background-color: #ffed84;

    display: flex;
    flex-direction: column;

    position: relative;

    font-size: 3rem;
}

.header {
    position: relative;

    width: 100%;
    max-height: 15rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header .title {
    font-family: "Akaya Kanadaka", system-ui;
    font-size: 10rem;
    font-weight: bold;
}

.main {
    position: relative;
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hanoi-game {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 40rem;
}

.tower {
    position: relative;

    z-index: 2;

    max-width: 35rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.tower .disk:first-child {
    margin-bottom: 2.4rem;
}

.tower::before {
    position: absolute;

    content: " ";

    width: 100%;
    height: 100%;

    clip-path: polygon(0% 100%,
            100% 100%,
            100% 94%,
            54% 94%,
            54% 0%,
            46% 0%,
            46% 94%,
            0% 94%);

    border-radius: 1.5rem;

    background-color: #da8743;
}

.disk {
    position: relative;
    height: 4rem;
    border-radius: 1rem;
    border: .5rem solid;
    cursor: pointer;

    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;

    transition: .2s ease-in-out;
}

.animated-disk {
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}

#disk1 {
    width: 8rem;
    background-color: #FF4500;
    border-color: #dd3b00;
}

#disk2 {
    width: 11rem;
    background-color: #FF8C00;
    border-color: #db7900;
}

#disk3 {
    width: 14rem;
    background-color: #FFD700;
    border-color: #dab900;
}

#disk4 {
    width: 17rem;
    background-color: #32CD32;
    border-color: #2db62d;
}

#disk5 {
    width: 20rem;
    background-color: #1E90FF;
    border-color: #1977d4;
}

#disk6 {
    width: 23rem;
    background-color: #9400D3;
    border-color: #7800ac;
}

#disk7 {
    width: 26rem;
    background-color: #8B008B;
    border-color: #750075;
}

#disk8 {
    width: 29rem;
    background-color: #FF1493;
    border-color: #cb257f;
}

.disk.invalid:hover {
    background-color: #888 !important;
    border-color: #555 !important;
    cursor: not-allowed;
}

.dragging {
    opacity: 0.5;
}

.footer {
    position: relative;

    width: 100%;
    max-height: 15rem;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 10rem;
}

.config-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

select,
button {
    min-width: 30rem;
    width: 100%;
    height: 5rem;
    background-color: #da8743;
    border-radius: 1rem;
    font-size: 2rem;
    padding: .5rem;
    outline: none;
    border: .5rem solid #a36532;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

select:hover,
button:hover {
    background-color: #c97939;
}

.red {
    color: tomato;
}